@page
@model FinalProject.Pages.AddAuthorModel



<h4>Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Author.Avatar" class="control-label"></label>
                <input asp-for="Author.Avatar" class="form-control" />
                <span asp-validation-for="Author.Avatar" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Author.UserName" class="control-label">Public Name</label>
                <input asp-for="Author.UserName" class="form-control" />
                <span asp-validation-for="Author.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Body" class="control-label">Bio</label>
                <textarea class="form-control"  asp-for="Author.Body" rows="5"></textarea>
                <span asp-validation-for="Author.Body" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

