@page
@model FinalProject.Pages.AddPostModel
@{
}
<div class="col-md-4">
    <h2>Add Post to @Model.Topic.Title</h2>
</div>
<br>
<br>

<div class="col-md-12 col-sm-12 mx-auto mb-5">
    <form method="post">
        <input type="hidden" asp-for="Topic.ID" />
        <input type="hidden" asp-for="Topic.Title" />
        <input type="hidden" asp-for="Topic.Body" />
        <input type="hidden" asp-for="Topic.Slug" />
        <div class="mb-3 row">
            <div>
                <label class="form-label" asp-for="NewPost.Title"></label>
            </div>
            <div class="col">
                <input class="form-control" asp-for="NewPost.Title" />
                <span class="form-text" asp-validation-for="NewPost.Title"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div>
                <label class="form-label" asp-for="NewPost.Body"></label>
            </div>
            <div class="col">
                <textarea class="form-control" asp-for="NewPost.Body" rows="5"></textarea>
                <span class="form-text" asp-validation-for="NewPost.Body"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <button type="submit" class="btn btn-outline-info btn-sm">Add Post</button>
                <a asp-page="./Index">
                    <input type="button" class="btn btn-outline-secondary btn-sm" value="Cancel" />
                </a>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}