@page
@model FinalProject.Pages.CommentAddRedirectModel
@{
}
<h3>Comment was added successfully</h3>

<div>
    <a asp-page="./Index">
        <input type="button" class="btn btn-outline-info btn-sm" value="Back to Channels" />
    </a>
</div>