@page
@model FinalProject.Pages.EditCommentModel

@{
    ViewData["Title"] = "Edit comment";
}


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Comment.ID" />
            <input type="hidden" asp-for="Comment.Author" />
            <input type="hidden" asp-for="Comment.AvatarFileName" />
            <input type="hidden" asp-for="Comment.PostId" />
            <div class="form-group">
                <label asp-for="Comment.Body" class="control-label"></label>
                <input asp-for="Comment.Body" class="form-control" />
                <span asp-validation-for="Comment.Body" class="text-danger"></span>
            </div>
            <br>
            <div class="row">
                <div class="col-8">
                    <button type="submit" class="btn btn-outline-info">Save Edit</button>
                    <a asp-page="./Index">
                        <input type="button" class="btn btn-outline-secondary" value="Cancel" />
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-page="./Index">Back to Blogs</a>
</div>
