@page
@model FinalProject.Pages.EditAuthorModel


<div>
    <h4>Profile for @Model.Author.UserName</h4>

    <p> <img src="/images/@Model.Author.AvatarFileName" width="70"> </p>
    <div>
        <h5>Bio</h5>
        <p><em>@Html.DisplayFor(modelItem => Model.Author.Body)</em></p>
    </div>

</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Author.UserName" />
            <input type="hidden" asp-for="Author.ID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 p-2 row">
                <div class="col-auto text-sm-end align-self-center">
                    <label class="form-label" asp-for="FormFile"></label>
                </div>
                <div class="col">
                    <input class="form-control-file" asp-for="FormFile" type="file" ;>
                    <span class="form-text" asp-validation-for="FormFile"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Author.Body" class="control-label">Bio</label>
                <textarea class="form-control" asp-for="Author.Body" rows="5"></textarea>
                <span asp-validation-for="Author.Body" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col">
                    <br />
                    <input class="btn btn-outline-info btn-sm" type="submit" value="Save" />
                    <a asp-page="./Index">
                        <input type="button" class="btn btn-outline-secondary btn-sm" value="Cancel" />
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


