@page
@model FinalProject.Pages.EditTopicModel
@{
}
<div class="col-md-4"><h2>@Model.Topic.Title</h2></div>

<br>
<br>

<div class="col-md-12 col-sm-12 mx-auto mb-5">
    <form method="post">
        <input type="hidden" asp-for="Topic.ID" />
        <input type="hidden" asp-for="Topic.ChannelId" />
        <div class="mb-3 row">
            <div>
                <label class="form-label" asp-for="Topic.Title"></label>
            </div>
            <div class="col">
                <input class="form-control" asp-for="Topic.Title" />
                <span class="form-text" asp-validation-for="Topic.Title"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div>
                <label class="form-label" asp-for="Topic.Body"></label>
            </div>
            <div class="col">
                <textarea class="form-control" asp-for="Topic.Body" rows="5"></textarea>
                <span class="form-text" asp-validation-for="Topic.Body"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <button type="submit" class="btn btn-outline-info btn-sm">Save Edit</button>
                <a asp-page="./Index">
                    <input type="button" class="btn btn-outline-secondary btn-sm" value="Cancel" />
                </a>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}