@page
@model IndexModel
@{
    ViewData["Title"] = "Channel page";
}

<h1>Enjoy one of the channels.</h1>

@if (Model.IsAdmin)
{
    <div class="col-md-6 col-sm-12  mb-5">
        <form method="post" asp-page-handler="AddChannel">
                <div >
                    <button type="submit" class="btn btn-outline-info">Add New Channel</button>
                </div>         
        </form>
    </div>
}

@foreach (var item in Model.Channels)
{

    <div class="col-md-8">
        <h2>
            <a asp-page="./TopicDetails" asp-route-slug="@item.Slug">@Html.DisplayFor(modelItem => item.Title)</a>
        </h2>

    </div>


    @if (Model.IsAdmin)
    {
        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
        <span> | </span>
        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>

    }
    <hr>
}
