@page
@model IndexModel
@{
    ViewData["Title"] = "Channel page";
}



<h1>Enjoy one of the channels.</h1>

@if (Model.IsAdmin)
{

    <div class="col-md-6 col-sm-12  mb-5">
        <a asp-page="./AddChannel">
            <input type="button" class="btn btn-outline-info" value="Add Channel" />
        </a>
    </div>
}

@foreach (var item in Model.Channels)
{


    <div class="col-md-8">
        <h3>
            <a asp-page="./TopicDetails" asp-route-slug="@item.Slug">@Html.DisplayFor(modelItem => item.Title)</a>
        </h3>
    </div>


    @if (Model.IsAdmin)
    {

        <div class="col-md-6 col-sm-12  mb-5">
            <div>
                <a asp-page="./EditChannel" asp-route-id="@item.ID">
                    <input type="button" class="btn btn-outline-info" value="Edit" />
                </a>
                <a asp-page="./DeleteChannel" asp-route-id="@item.ID">
                    <input type="button" class="btn btn-outline-secondary" value="Delete" />
                </a>
            </div>
        </div>

    }


    <hr>
}
