@page
@model IndexModel
@{
    ViewData["Title"] = "Channel page";
}

<h1>Channel</h1>

@if (Model.IsAdmin)
{
    <p>
        <a asp-page="AddChannel">Add New Channel</a>
        <hr>
        <br>
    </p>
}

    @foreach (var item in Model.Channels)
    {

        <div class="col-md-8">
            <h2>
                <a asp-page="./Details" asp-route-slug="@item.Slug">@Html.DisplayFor(modelItem => item.Title)</a>
            </h2>

        </div>


        @if (Model.IsAdmin)
        {
            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
            <span> | </span>
            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>

        }
        <hr>
    }
