@model Comment

@{
    var addCommentModel = new AddCommentPartialModel() { ParentCommentId = Model.ID, CommentId = Model.ID };
}

    <div class="border p-1 pe-0">
        <div class="row">
            <div class="col-auto">
                <strong>@Model.Body</strong>
            </div>
            <div class="col-auto">
                <p> <img src="/images/@Model.AvatarFileName" width="20"> <a asp-page="Profile">@Model.Author</a>@Model.PostedOn.ToShortDateString()</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @foreach (var child in Model.ChildComment)
                {
                    <div class="ms-5">
                        <partial name="DisplayCommentPartial" model="child" class="ml-3" />
                    </div>
                }
            </div>
            <partial name="AddCommentPartial" model="addCommentModel" />
        </div>
    </div>
